.header{
text-align: center;
width: 200px;
margin: auto;
border: 2px solid black;
}
.name{
text-align: center;
width: 200px;
margin: auto;

}

#balanced{  
text-align: center;
width: 200px;
margin: auto;

}
